@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$primary: #4281b5;
$secondary: #00315a;
$text-color: #fff;
$color-red: #d9272e;
$color-grey: #858585;
$bg-grey: #e4e9ee;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1100px,
  xl: 1600px,
  xxl: 1800px,
);

/* font */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

@mixin button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin text($color: $text-color,
  $font-size: 18px,
  $font-weight: 400,
  $line-height: normal) {
  margin: 0;
  padding: 0;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link($color: $text-color) {
  text-decoration: none;
  color: $color;
}

@mixin line($weight: 1px, $color: $text-color) {
  border-bottom: $weight solid $color;
}

@mixin burger-line($color: $text-color) {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: $color;
  width: 100%;
  height: 2px;
  transition: all 0.3s linear;
}

@import '../node_modules/bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

:hover {
  transition: 0.3s;
}

body {
  font-family: 'Cera Pro', Arial, Helvetica, sans-serif !important;
  color: $text-color;
  background-color: $primary;
}

._lock {
  overflow: hidden;
}

header,
section,
footer {
  padding-left: 20px;
  padding-right: 20px;

  @include media-breakpoint-up(sm) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include media-breakpoint-up(xxl) {
    padding-left: 116px;
    padding-right: 116px;
  }
}

.sat-shadow-wrap {
  filter: drop-shadow(0px 23px 16px rgba(0, 0, 0, 0.22));
}

.sat-pr-m-wrap {
  position: relative;
  background-image: url(../images/projects-bg.png);
  background-position: bottom;
  background-size: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 460px;
    /* Высота градиента */
    background: linear-gradient(180deg,
        $primary 25.66%,
        rgba(66, 129, 181, 0) 100%);

    @include media-breakpoint-down(sm) {
      height: 256px;
    }
  }

  &>* {
    position: relative;
    z-index: 3;
  }

  @include media-breakpoint-down(lg) {
    background-size: 200%;
  }
}

.sat-p-bg {
  position: relative;
  transition: all 0.5s linear;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 54, 99, 0.7);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 95%;
    background-image: url(../images/main_gr.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;

    @include media-breakpoint-down(lg) {
      height: 50%;
    }

    @include media-breakpoint-down(sm) {
      height: 30%;
    }
  }

  &>* {
    position: relative;
    z-index: 3;
  }

  &_active {
    background-color: $secondary;

    &:after {
      visibility: hidden;
    }

    .video {
      display: none;
    }
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

video {
  position: absolute;
  /* Позволяет видео занимать весь фон */
  top: 50%;
  left: 50%;
  min-width: 100%;
  /* Минимальная ширина 100% */
  min-height: 100%;
  /* Минимальная высота 100% */
  width: auto;
  /* Автоматическая ширина */
  height: auto;
  /* Автоматическая высота */
  z-index: -1;
  /* Убедитесь, что видео находится под другими элементами */
  transform: translate(-50%, -50%);
  /* Центрирует видео */
}

.header {
  padding-top: 50px;

  @include media-breakpoint-down(xl) {
    padding-top: 30px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 20px;
  }
}

.sat-h-txt1 {
  @include text($font-size: 26px, $font-weight: $fw-bold);

  @include media-breakpoint-down(md) {
    @include text($font-size: 20px, $font-weight: $fw-bold);
  }
}

.sat-h-txt2 {
  @include text($font-size: 18px, $font-weight: $fw-medium);
  margin: auto;
}

// nav-menu
.sat-navbar {
  display: flex;
  align-items: flex-start;
}

.sat-h-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.sat-burger {
  display: block;
  position: relative;
  width: 34px;
  height: 27px;
  z-index: 11;
  cursor: pointer;
  transition: all 0.3s linear;

  &:before {
    @include burger-line;
    top: 0;
    left: 0;
  }

  &:after {
    @include burger-line;
    bottom: 0;
    left: 0;
  }

  &_active .sat-burger-line {
    transform: scale(0) translate(0px, -50%);
  }

  &_active:before {
    top: 50%;
    transform: rotate(45deg) translate(0px, -75%);
  }

  &_active:after {
    bottom: 50%;
    transform: rotate(-45deg) translate(0, 75%);
  }
}

.sat-burger-line {
  @include burger-line;
  top: calc(50% - 1px);
  left: 0;
  transform: scale(1);
  transition: all 0.3s linear;
}

.sat-brand {
  margin: 0;
  margin-right: 153px;
  min-width: 238px;

  @include media-breakpoint-down(xl) {
    margin: 0;
  }

  @include media-breakpoint-down(md) {
    min-width: 187px;
  }
}

.sat-logo {
  max-width: 52px;

  @include media-breakpoint-down(md) {
    max-width: 40px;
  }
}

.navbar-collapse.collapse {
  @include media-breakpoint-down(xl) {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
  }
}

.sat-navbar-nav {
  @include media-breakpoint-down(xl) {
    padding: 50px 0;
    margin-top: 42px;
    border: 1px solid $text-color;
    border-left: none;
    border-right: none;
  }
}

.sat-nav-item {
  padding-right: 55px;
  position: relative;

  @include media-breakpoint-down(xxl) {
    padding-right: 20px;
  }

  @include media-breakpoint-down(xl) {
    padding-right: 0;
    min-height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-line:after {
      content: '';
      @include line;
      width: 34px;
      position: absolute;
      bottom: 0;
      left: calc(50% - 17px);
    }
  }
}

.sat-nav-contacts {
  margin-top: 40px;
  min-height: 95px;
}

.sat-nav-left {
  padding-top: 9px;
  padding-right: 47px;
  width: 260px;
  border-right: 1px solid $text-color;

  @include media-breakpoint-down(md) {
    padding-left: 10px;
    padding-right: 0;
    width: 50%;
  }
}

.sat-nav-right {
  padding-top: 10px;
  padding-left: 47px;
  width: 260px;

  @include media-breakpoint-down(md) {
    width: 50%;
  }
}

.sat-nav-txt1 {
  @include text($font-size: 16px, $font-weight: $fw-light);
  letter-spacing: 1px;

  @include media-breakpoint-down(md) {
    @include text($font-size: 10px, $font-weight: $fw-light);
  }
}

.sat-nav-txt2 {
  @include text($font-size: 17px, $font-weight: $fw-medium, $line-height: 1.27);

  @include media-breakpoint-down(md) {
    width: 140px;
    @include text($font-size: 11px,
      $font-weight: $fw-medium,
      $line-height: 1.27);
  }
}

.sat-h-call-m {
  @include button;
  width: 40px;
  aspect-ratio: 1 / 1;
  background-image: url(../images/phone.svg);
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;

  @include media-breakpoint-up(xl) {
    display: none;
  }
}

.sat-h-group {
  display: flex;
  align-items: flex-end;
  gap: 42px;

  @include media-breakpoint-down(xl) {
    display: none;
  }
}

.sat-h-btn {
  width: 268px;
  height: 47px;
  @include text($font-size: 16px, $font-weight: $fw-bold);
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  border-radius: 40px;

  @include media-breakpoint-down(xl) {
    @include text($font-size: 12px, $font-weight: $fw-bold);
    width: 100%;
    max-width: 225px;
    height: 33px;
  }
}

.sat-h-call {
  @include text($font-size: 22px, $font-weight: $fw-medium, $line-height: 1);
}

.sat-h-label {
  @include text($font-size: 14px);
  max-width: 120px;
  border-bottom: 1px solid $text-color;

  @include media-breakpoint-down(xl) {
    padding-left: 10px;
    @include text($font-size: 16px);
  }
}

// Promo section
.sat-promo {
  padding-top: 150px;
  padding-bottom: 170px;

  @include media-breakpoint-down(xl) {
    padding-top: 100px;
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 123px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 50px;
  }
}

.sat-p-txt1 {
  @include text($font-size: 41px, $font-weight: $fw-bold);
  max-width: 777px;

  @include media-breakpoint-down(sm) {
    @include text($font-size: 25px, $font-weight: $fw-bold);
    max-width: 350px;
  }
}

.sat-p-txt2 {
  @include text($font-size: 20px, $line-height: 1.7);
  max-width: 894px;

  @include media-breakpoint-down(sm) {
    @include text($font-size: 14px);
    max-width: 316px;
  }
}

.sat-p-btn {
  width: 100%;
  max-width: 341px;
  height: 50px;
  @include text($font-size: 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;

  @include media-breakpoint-down(sm) {
    margin: 52px auto 0;
    height: 44px;
  }
}

// section about
.sat-about {
  padding-top: 205px;
  padding-bottom: 43px;
  position: relative;
  background-image: url(../images/about.png);
  background-size: 36%;
  background-position: left bottom;
  background-repeat: no-repeat;

  @include media-breakpoint-down(xxl) {
    padding-top: 250px;
    background-position: left 32%;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 434px;
    background-size: 75%;
    background-position: -75px 44.8%;
  }
}

.sat-a-txt1 {
  @include text($font-size: 71px, $font-weight: $fw-light);
  max-width: 440px;
  position: absolute;
  top: 0;
  left: 0;

  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }

  @include media-breakpoint-down(md) {
    @include text($font-size: 41px, $font-weight: $fw-light, $line-height: 1.17);
  }
}

.sat-a-txt2 {
  @include text($font-size: 16px, $line-height: 1.81);
  max-width: 748px;

  &-1 {
    padding-top: 133px;
  }

  @include media-breakpoint-down(xl) {
    margin-left: auto;
  }

  @include media-breakpoint-down(md) {
    @include text($font-size: 13px, $line-height: 1.76);

    &-1 {
      padding-top: 105px;
    }
  }
}

.sat-a-txt3 {
  @include text($font-size: 76px, $font-weight: $fw-medium);
  letter-spacing: -8.9px;

  @include media-breakpoint-down(md) {
    @include text($font-size: 50px, $font-weight: $fw-medium, $line-height: 1.5);
    width: 80px;
    text-align: right;
  }
}

.sat-a-txt4 {
  @include text($font-size: 20px, $font-weight: $fw-light, $line-height: 0.9);
  max-width: 155px;

  @include media-breakpoint-down(sm) {
    @include text($font-size: 15px, $font-weight: $fw-light, $line-height: 0.93);
    max-width: 100px;
  }
}

.sat-a-group {
  width: 100%;
  position: absolute;
  top: -60px;
  left: 0;
  z-index: 12;

  @include media-breakpoint-down(sm) {
    top: -50px;
  }
}

.sat-a-cardlist {
  @include list;

  @include media-breakpoint-down(xxl) {
    max-width: 840px;
  }

  @include media-breakpoint-down(lg) {
    max-width: 410px;
    gap: 21px !important;
  }
}

.sat-a-card {
  @include text($color: $secondary, $font-size: 17px, $font-weight: $fw-bold);
  width: 410px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $text-color;
  box-shadow: 0px -21px 23px 0px rgba(66, 129, 181, 0.58) inset;
  border-radius: 20px;

  &-1 {
    padding: 0 60px;
  }

  &-2 {
    padding: 0 40px;
  }

  @include media-breakpoint-down(xl) {
    @include text($color: $secondary, $font-size: 16px, $font-weight: $fw-bold);
    width: 100%;
    max-width: 356px;
    height: 90px;

    &-1 {
      padding: 0 70px;
    }

    &-2 {
      padding: 0 24px;
    }
  }

  span {
    white-space: normal;
    word-break: break-word;
    text-align: center;
  }
}

.sat-a-info {
  margin: 115px 0 50px;
  padding: 40px 65px 0;
  max-width: 552px;
  max-height: 438px;
  background-color: $secondary;
  border-radius: 34px;

  @include media-breakpoint-down(xl) {
    margin-top: 50px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 25px;
    padding: 20px 20px 0;
  }
}

.sat-a-list {
  @include list;
  @include line($weight: 2px, $color: rgba(255, 255, 255, 0.31));
}

.sat-a-line {
  @include line;
}

.sat-a-link {
  @include link;
  @include text($font-size: 15px, $line-height: 1.33);
  padding: 30px 5px;
  display: flex;
  justify-content: space-between;

  &:after {
    content: '';
    width: 65px;
    height: 23px;
    display: block;
    background-image: url(../images/about-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include media-breakpoint-down(sm) {
    @include text($font-size: 12px, $line-height: 1.66);
    padding: 22px 18px;

    &:after {
      width: 46px;
      height: 16px;
    }
  }
}

// section Projects
.sat-projects {
  padding-top: 70px;
  padding-right: 0;

  @include media-breakpoint-down(sm) {
    padding-top: 35px;
  }
}

.sat-pr-txt1 {
  @include text($font-size: 36px);
  padding-bottom: 48px;

  @include media-breakpoint-down(sm) {
    @include text($font-size: 24px);
    padding-bottom: 24px;
  }
}

// projects navigation
.sat-pr-link {
  @include text($font-size: 20px, $font-weight: $fw-light);
  padding: 8px 16px;

  @include media-breakpoint-down(md) {
    @include text($font-size: 16px, $font-weight: $fw-light);
    padding: 4px 8px;
  }

  @include media-breakpoint-down(sm) {
    @include text($font-size: 14px, $font-weight: $fw-light);
    padding: 8px 6px;
  }
}

.nav-tabs .nav-link.active {
  background-color: inherit;
  border: none;
  @include line($weight: 5px);
}

.nav-tabs .nav-link {
  border: none;
}

// carousel
.sat-carousel {
  padding-top: 78px;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  /* Ширина карусели */

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
  }
}

.sat-track {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
  /* Для анимации прокрутки */
}

.sat-navigation {
  margin-top: 56px;
  margin-right: 116px;

  &-f {
    margin-top: 70px;
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 30px;
    margin-right: 20px;

    &-f {
      margin-top: 50px;
      margin-right: 20px;
    }
  }
}

.sat-navigation .btn {
  pointer-events: all;
  width: 65px;
  aspect-ratio: 1/0.36;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-down(sm) {
    width: 45px;
  }
}

.sat-left {
  background-image: url(../images/projects-arrow-left.svg);
}

.sat-right {
  background-image: url(../images/projects-arrow-right.svg);
}

.sat-left-f {
  background-image: url(../images/f-arrow-left.svg);
}

.sat-right-f {
  background-image: url(../images/f-arrow-right.svg);
}

// card
.sat-card {
  flex: 0 0 auto;
  margin-right: 16px;
  padding: 24px 34px;
  width: 552px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-1 {
    background: linear-gradient(to bottom,
        rgba(0, 49, 90, 0) calc(100% - 190px),
        rgba(0, 49, 90, 0.86) 100%),
      url(../images/card-1.jpg);
  }

  &-2 {
    background: linear-gradient(to bottom,
        rgba(0, 49, 90, 0) calc(100% - 190px),
        rgba(0, 49, 90, 0.86) 100%),
      url(../images/card-2.jpg);
  }

  &-3 {
    background: linear-gradient(to bottom,
        rgba(0, 49, 90, 0) calc(100% - 190px),
        rgba(0, 49, 90, 0.86) 100%),
      url(../images/card-3.jpg);
  }

  &-4 {
    background: linear-gradient(to bottom,
        rgba(0, 49, 90, 0) calc(100% - 190px),
        rgba(0, 49, 90, 0.86) 100%),
      url(../images/card-4.jpg);
    background-position: 0 center;
  }

  @include media-breakpoint-down(md) {
    padding: 14px 24px;
    width: 360px;

    &-1 {
      background: linear-gradient(to bottom,
          rgba(0, 49, 90, 0.3) calc(100% - 190px),
          rgba(0, 49, 90, 1) 100%),
        url(../images/card-1.jpg);
    }

    &-2 {
      background: linear-gradient(to bottom,
          rgba(0, 49, 90, 0.3) calc(100% - 190px),
          rgba(0, 49, 90, 1) 100%),
        url(../images/card-2.jpg);
    }

    &-3 {
      background: linear-gradient(to bottom,
          rgba(0, 49, 90, 0.3) calc(100% - 190px),
          rgba(0, 49, 90, 1) 100%),
        url(../images/card-3.jpg);
    }

    &-4 {
      background: linear-gradient(to bottom,
          rgba(0, 49, 90, 0.3) calc(100% - 190px),
          rgba(0, 49, 90, 1) 100%),
        url(../images/card-4.jpg);
      background-position: 0 center;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 270px;
  }
}

.sat-title {
  @include text($font-size: 20px, $font-weight: $fw-bold);

  @include media-breakpoint-down(sm) {
    @include text($font-size: 13px, $font-weight: $fw-bold);
  }
}

.sat-description {
  @include text($font-size: 15px, $line-height: 1.2);
  min-height: 54px;

  @include media-breakpoint-down(md) {
    min-height: 80px;
  }

  @include media-breakpoint-down(sm) {
    @include text($font-size: 10px, $line-height: 1.1);
    min-height: 52px;
  }
}

// section mission
.sat-mission {
  padding-top: 160px;

  @include media-breakpoint-down(sm) {
    padding-top: 70px;
  }
}

.sat-m-list {
  margin-bottom: -300px;

  @include media-breakpoint-down(lg) {
    margin-bottom: -417px;
  }
}

.sat-m-list-group {
  border-radius: 0px;

  @include media-breakpoint-down(lg) {
    align-items: center;
  }
}

.sat-list-group-item {
  padding-left: 63px;
  min-height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint-down(md) {
    padding-left: 20px;
    max-width: 500px;
    min-height: 104px;
  }
}

.sat-m-txt1 {
  @include text($color: $primary, $font-size: 36px);
  padding-bottom: 14px;

  @include media-breakpoint-down(lg) {
    @include text($color: $primary, $font-size: 24px);
    padding-bottom: 8px;
  }

  @include media-breakpoint-down(md) {
    @include text($color: $primary, $font-size: 16px);
    padding-bottom: 4px;
  }
}

.sat-m-txt2 {
  @include text($color: $color-grey,
    $font-size: 16px,
    $font-weight: $fw-light,
    $line-height: 1.56);
  max-width: 536px;


  @include media-breakpoint-down(md) {
    @include text($color: $color-grey,
      $font-size: 12px,
      $font-weight: $fw-light,
      $line-height: 1.41);
    max-width: 300px;
  }
}

// section clients
.sat-clients {
  padding-top: 395px;
  padding-bottom: 78px;
  background-color: $bg-grey;

  @include media-breakpoint-down(lg) {
    padding-top: 475px;
    padding-bottom: 66px;
  }
}

.sat-c-txt1 {
  @include text($color: $primary, $font-size: 36px);
  padding-bottom: 50px;

  @include media-breakpoint-down(sm) {
    @include text($color: $primary, $font-size: 24px);
    padding-bottom: 24px;
  }
}

.sat-c-list {
  @include list;
  padding: 0 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  &-3 {
    padding: 0 100px 0 120px;
  }

  @include media-breakpoint-down(xl) {
    padding: 0;
    margin: auto;
    justify-content: center;
    gap: 50px;
  }

  @include media-breakpoint-down(lg) {
    max-width: 650px;
  }

  @include media-breakpoint-down(md) {
    gap: 20px;
  }
}

.sat-c-item {
  opacity: 0.5;
  mix-blend-mode: luminosity;

  @include media-breakpoint-down(md) {
    max-width: 30%;

    &-m {
      max-width: 20%;
    }

    &-s {
      max-width: 15%;
    }
  }
}

.sat-c-img {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

// section feedback
.sat-feedback {
  padding-top: 85px;
  padding-bottom: 174px;
  padding-right: 0;
  position: relative;
  background-color: $text-color;

  @include media-breakpoint-down(sm) {
    padding-top: 60px;
    padding-bottom: 194px;
  }
}

.sat-f-txt1 {
  @include text($color: $primary, $font-size: 36px);
  padding-bottom: 47px;

  @include media-breakpoint-down(sm) {
    @include text($color: $primary, $font-size: 24px);
    padding-bottom: 44px;
  }
}

.sat-f-txt2 {
  @include text($font-size: 26px, $font-weight: $fw-medium);
  max-width: 270px;
}

.sat-f-img {
  margin-right: 5.5%;
  width: 184px;
  height: 250px;
  box-sizing: border-box;
  border: 5px solid #fff;

  @include media-breakpoint-down(sm) {
    width: 125px;
    height: 166px;
  }
}

.sat-f-carousel {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.sat-f-track {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  transition: transform 0.3s ease;
  /* Для анимации прокрутки */
}

// form feedback
.sat-form {
  padding: 61px 156px 61px 91px;
  max-width: 1290px;
  width: 100%;
  position: absolute;
  left: calc(50% - 645px);
  bottom: -95px;
  background-color: $secondary;
}

.sat-label {
  @include text($font-size: 14px, $font-weight: $fw-light);
  letter-spacing: 3px;
}

.sat-f-wrap {
  border-bottom: 1px solid rgba(189, 189, 189, 1);

  span {
    @include text($font-size: 26px, $font-weight: $fw-light);
  }
}

.sat-input {
  @include text($font-size: 26px, $font-weight: $fw-light);
  padding: 8px 2px;
  width: 325px;
  background-color: inherit;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

.sat-f-btn {
  width: 265px;
  height: 47px;
  @include text($font-size: 16px, $font-weight: $fw-medium);
  letter-spacing: 1.2px;
  border-radius: 36px;
}

// footer
.footer {
  padding-top: 200px;
  padding-bottom: 37px;
}

.sat-fo-nav-item {
  padding-bottom: 30px;
}

.sat-contacts {
  @include list;
  padding-top: 62px;
  gap: 38px;
}

.sat-fo-txt1 {
  @include text($font-size: 14px, $font-weight: $fw-light);
  letter-spacing: 1px;
}

.sat-fo-txt2 {
  @include text($font-size: 18px, $font-weight: $fw-medium, $line-height: 1.61);
  max-width: 308px;
}

.sat-fo-txt3 {
  @include text($font-size: 18px, $font-weight: $fw-medium);

  span {
    @include line;
  }
}

.sat-fo-txt4 {
  @include text($font-size: 12px);

  span {
    @include line;
  }
}