@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$primary: #4281b5;
$secondary: #00315a;
$text-color: #fff;
$color-red: #d9272e;
$color-grey: #858585;
$bg-grey: #e4e9ee;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1600px,
  xxl: 1800px,
);

/* font */
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

@mixin text(
  $color: $text-color,
  $font-size: 18px,
  $font-weight: 400,
  $line-height: normal
) {
  margin: 0;
  padding: 0;
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link($color: $text-color) {
  text-decoration: none;
  color: $color;
}

@mixin line($weight: 1px, $color: $text-color) {
  border-bottom: $weight solid $color;
}

@import '../node_modules/bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

:hover {
  transition: 0.3s;
}

body {
  font-family: 'Cera Pro', Arial, Helvetica, sans-serif !important;
  color: $text-color;
  background-color: $primary;
}

header,
section,
footer {
  padding-left: 20px;
  padding-right: 20px;

  @include media-breakpoint-up(sm) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include media-breakpoint-up(xxl) {
    padding-left: 116px;
    padding-right: 116px;
  }
}

.sat-shadow-wrap {
  filter: drop-shadow(0px 23px 16px rgba(0, 0, 0, 0.22));
}

.sat-pr-m-wrap {
  position: relative;
  background-image: url(../images/projects-bg.png);
  background-position: bottom;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 460px; /* Высота градиента */
    background: linear-gradient(
      180deg,
      $primary 25.66%,
      rgba(66, 129, 181, 0) 100%
    );
  }

  & > * {
    position: relative;
    z-index: 3;
  }
}

.sat-p-bg {
  position: relative;
  background-image: url(../images/main.png);
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 54, 99, 0.7);
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 95%;
    background-image: url(../images/main_gr.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;

    @include media-breakpoint-down(lg) {
      height: 50%;
    }

    @include media-breakpoint-down(sm) {
      height: 30%;
    }
  }

  & > * {
    position: relative;
    z-index: 3;
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

video {
  position: absolute; /* Позволяет видео занимать весь фон */
  top: 50%;
  left: 50%;
  min-width: 100%; /* Минимальная ширина 100% */
  min-height: 100%; /* Минимальная высота 100% */
  width: auto; /* Автоматическая ширина */
  height: auto; /* Автоматическая высота */
  z-index: -1; /* Убедитесь, что видео находится под другими элементами */
  transform: translate(-50%, -50%); /* Центрирует видео */
}

.header {
  padding-top: 50px;

  @include media-breakpoint-down(xl) {
    padding-top: 30px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
  }
}

.sat-h-txt1 {
  @include text($font-size: 26px, $font-weight: $fw-bold);
}

.sat-h-txt2 {
  @include text($font-size: 18px, $font-weight: $fw-medium);
  margin: auto;
}

.sat-logo {
  max-width: 52px;

  @include media-breakpoint-down(sm) {
    max-width: 40px;
  }
}

.sat-nav-item {
  padding-right: 50px;

  @include media-breakpoint-down(xxl) {
    padding-right: 20px;
  }
}

.sat-h-group {
  display: flex;
  gap: 42px;

  @include media-breakpoint-down(xl) {
    padding-top: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.sat-h-btn {
  width: 268px;
  height: 47px;
  @include text($font-size: 16px, $font-weight: $fw-bold);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  border-radius: 40px;
}

.sat-h-call {
  @include text($font-size: 22px, $font-weight: $fw-medium, $line-height: 1);
}

.sat-h-label {
  @include text($font-size: 14px);
  max-width: 120px;

  @include media-breakpoint-down(xl) {
    padding-left: 10px;
    @include text($font-size: 16px);
  }
}

// Promo section
.sat-promo {
  padding-top: 150px;
  padding-bottom: 170px;

  @include media-breakpoint-down(xxl) {
    padding-bottom: 300px;
  }

  @include media-breakpoint-down(xl) {
    padding-top: 100px;
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 550px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 50px;
  }
}

.sat-p-txt1 {
  @include text($font-size: 41px, $font-weight: $fw-bold);
  max-width: 777px;
}

.sat-p-txt2 {
  @include text($font-size: 20px, $line-height: 1.7);
  max-width: 894px;
}

.sat-p-btn {
  width: 341px;
  height: 50px;
  @include text($font-size: 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.sat-p-group {
  width: 100%;
  position: absolute;
  bottom: -60px;
  left: 0;
}

.sat-p-list {
  @include list;

  @include media-breakpoint-down(xxl) {
    max-width: 840px;
  }

  @include media-breakpoint-down(lg) {
    max-width: 410px;
  }
}

.sat-p-card {
  @include text($color: $secondary, $font-size: 17px, $font-weight: $fw-bold);
  width: 410px;
  height: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $text-color;
  box-shadow: 0px -21px 23px 0px rgba(66, 129, 181, 0.58) inset;
  border-radius: 20px;

  &-1 {
    padding: 0 60px;
  }

  &-2 {
    padding: 0 40px;
  }

  @include media-breakpoint-down(sm) {
    width: 320px;
    &-1 {
      padding: 0 60px;
    }
    &-2 {
      padding: 0 40px;
    }
  }

  span {
    white-space: normal;
    word-break: break-word;
    text-align: center;
  }
}

// section About
.sat-about {
  padding-top: 205px;
  padding-bottom: 43px;
  background-image: url(../images/about.png);
  background-size: 36%;
  background-position: left bottom;
  background-repeat: no-repeat;

  @include media-breakpoint-down(xl) {
    padding-top: 150px;
    background-position: left 32%;
  }

  @include media-breakpoint-down(lg) {
    background-size: 75%;
    background-position: left 10%;
  }
}

.sat-a-txt1 {
  @include text($font-size: 71px, $font-weight: $fw-light);
  max-width: 440px;
  position: absolute;
  top: 0;
  left: 0;

  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }

  @include media-breakpoint-down(md) {
    @include text($font-size: 50px, $font-weight: $fw-light);
  }
}

.sat-a-txt2 {
  @include text($font-size: 16px, $line-height: 1.81);
  max-width: 748px;

  &-1 {
    padding-top: 133px;
  }

  @include media-breakpoint-down(xl) {
    margin-left: auto;
  }
}

.sat-a-txt3 {
  @include text($font-size: 76px, $font-weight: $fw-medium);
  letter-spacing: -8.9px;
}

.sat-a-txt4 {
  @include text($font-size: 20px, $font-weight: $fw-light, $line-height: 0.9);
  max-width: 155px;

  @include media-breakpoint-down(sm) {
    @include text($font-size: 16px, $font-weight: $fw-light, $line-height: 0.9);
  }
}

.sat-a-info {
  margin: 115px 0 50px;
  padding: 40px 65px 0;
  max-width: 552px;
  max-height: 438px;
  background-color: $secondary;
  border-radius: 34px;

  @include media-breakpoint-down(xl) {
    margin-top: 50px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
    padding: 20px 35px 0;
  }
}

.sat-a-list {
  @include list;
  @include line($weight: 2px, $color: rgba(255, 255, 255, 0.31));
}

.sat-a-line {
  @include line;
}

.sat-a-link {
  @include link;
  @include text($font-size: 15px, $line-height: 1.33);
  padding: 30px 5px;
  display: flex;
  justify-content: space-between;

  &:after {
    content: '';
    width: 65px;
    height: 23px;
    display: block;
    background-image: url(../images/about-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// section Projects
.sat-projects {
  padding-top: 70px;
  padding-right: 0;
}

.sat-pr-txt1 {
  @include text($font-size: 36px);
}

// projects navigation
.sat-pr-link {
  @include text($font-size: 20px, $font-weight: $fw-light);
  padding: 8px 16px;

  @include media-breakpoint-down(md) {
    @include text($font-size: 16px, $font-weight: $fw-light);
    padding: 4px 8px;
  }

  @include media-breakpoint-down(sm) {
    @include text($font-size: 14px, $font-weight: $fw-light);
    padding: 4px 4px;
  }
}

.nav-tabs .nav-link.active {
  background-color: inherit;
  border: none;
  @include line($weight: 5px);
}
.nav-tabs .nav-link {
  border: none;
}

// carousel
.sat-carousel {
  padding-top: 78px;
  position: relative;
  overflow-x: hidden;
  width: 100%; /* Ширина карусели */

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
  }
}

.sat-track {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease; /* Для анимации прокрутки */
}

.sat-navigation {
  margin-top: 56px;
  margin-right: 116px;

  &-f {
    margin-top: 70px;
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }
}

.sat-navigation .btn {
  pointer-events: all;
  width: 65px;
  aspect-ratio: 1/0.36;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-down(sm) {
    width: 45px;
  }
}

.sat-left {
  background-image: url(../images/projects-arrow-left.svg);
}

.sat-right {
  background-image: url(../images/projects-arrow-right.svg);
}

.sat-left-f {
  background-image: url(../images/f-arrow-left.svg);
}

.sat-right-f {
  background-image: url(../images/f-arrow-right.svg);
}

// card
.sat-card {
  flex: 0 0 auto;
  margin-right: 16px;
  padding: 24px 34px;
  width: 552px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &-1 {
    background: linear-gradient(
        to bottom,
        rgba(0, 49, 90, 0) calc(100% - 190px),
        rgba(0, 49, 90, 0.86) 100%
      ),
      url(../images/card-1.jpg);
  }

  &-2 {
    background: linear-gradient(
        to bottom,
        rgba(0, 49, 90, 0) calc(100% - 190px),
        rgba(0, 49, 90, 0.86) 100%
      ),
      url(../images/card-2.jpg);
  }

  &-3 {
    background: linear-gradient(
        to bottom,
        rgba(0, 49, 90, 0) calc(100% - 190px),
        rgba(0, 49, 90, 0.86) 100%
      ),
      url(../images/card-3.jpg);
  }

  &-4 {
    background: linear-gradient(
        to bottom,
        rgba(0, 49, 90, 0) calc(100% - 190px),
        rgba(0, 49, 90, 0.86) 100%
      ),
      url(../images/card-4.jpg);
    background-position: 0 center;
  }

  @include media-breakpoint-down(md) {
    padding: 14px 24px;
    width: 360px;

    &-1 {
      background: linear-gradient(
          to bottom,
          rgba(0, 49, 90, 0.3) calc(100% - 190px),
          rgba(0, 49, 90, 1) 100%
        ),
        url(../images/card-1.jpg);
    }

    &-2 {
      background: linear-gradient(
          to bottom,
          rgba(0, 49, 90, 0.3) calc(100% - 190px),
          rgba(0, 49, 90, 1) 100%
        ),
        url(../images/card-2.jpg);
    }

    &-3 {
      background: linear-gradient(
          to bottom,
          rgba(0, 49, 90, 0.3) calc(100% - 190px),
          rgba(0, 49, 90, 1) 100%
        ),
        url(../images/card-3.jpg);
    }

    &-4 {
      background: linear-gradient(
          to bottom,
          rgba(0, 49, 90, 0.3) calc(100% - 190px),
          rgba(0, 49, 90, 1) 100%
        ),
        url(../images/card-4.jpg);
      background-position: 0 center;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 280px;
  }
}

.sat-title {
  @include text($font-size: 20px, $font-weight: $fw-bold);
}

.sat-description {
  @include text($font-size: 15px, $line-height: 1.2);
  min-height: 54px;

  @include media-breakpoint-down(md) {
    min-height: 80px;
  }
}

// section mission
.sat-mission {
  padding-top: 160px;
}

.sat-m-list {
  margin-bottom: -300px;
}

.sat-m-list-group {
  border-radius: 0px;
}

.sat-list-group-item {
  padding-left: 63px;
  min-height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sat-m-txt1 {
  @include text($color: $primary, $font-size: 36px);
  padding-bottom: 14px;
}

.sat-m-txt2 {
  @include text(
    $color: $color-grey,
    $font-size: 16px,
    $font-weight: $fw-light,
    $line-height: 1.56
  );
  max-width: 536px;
}

// section clients
.sat-clients {
  padding-top: 395px;
  padding-bottom: 78px;
  background-color: $bg-grey;
}

.sat-c-txt1 {
  @include text($color: $primary, $font-size: 36px);
  padding-bottom: 50px;
}

.sat-c-list {
  @include list;
  padding: 0 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  &-3 {
    padding: 0 100px 0 120px;
  }
}

.sat-c-item {
  opacity: 0.5;
  mix-blend-mode: luminosity;
}

// section feedback
.sat-feedback {
  padding-top: 85px;
  padding-bottom: 174px;
  position: relative;
  background-color: $text-color;
}

.sat-f-txt1 {
  @include text($color: $primary, $font-size: 36px);
  padding-bottom: 47px;
}

.sat-f-txt2 {
  @include text($font-size: 26px, $font-weight: $fw-medium);
  max-width: 270px;
}

.sat-f-img {
  margin-right: 5.5%;
  width: 184px;
  height: 250px;
  box-sizing: border-box;
  border: 5px solid #fff;
}

.sat-f-carousel {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.sat-f-track {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  transition: transform 0.3s ease; /* Для анимации прокрутки */
}

// form feedback
.sat-form {
  padding: 61px 156px 61px 91px;
  max-width: 1290px;
  width: 100%;
  position: absolute;
  left: calc(50% - 645px);
  bottom: -95px;
  background-color: $secondary;
}

.sat-label {
  @include text($font-size: 14px, $font-weight: $fw-light);
  letter-spacing: 3px;
}

.sat-f-wrap {
  border-bottom: 1px solid rgba(189, 189, 189, 1);

  span {
    @include text($font-size: 26px, $font-weight: $fw-light);
  }
}

.sat-input {
  @include text($font-size: 26px, $font-weight: $fw-light);
  padding: 8px 2px;
  width: 325px;
  background-color: inherit;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

.sat-f-btn {
  width: 265px;
  height: 47px;
  @include text($font-size: 16px, $font-weight: $fw-medium);
  letter-spacing: 1.2px;
  border-radius: 36px;
}

// footer
.footer {
  padding-top: 200px;
  padding-bottom: 37px;
}

.sat-fo-nav-item {
  padding-bottom: 30px;
}

.sat-contacts {
  @include list;
  padding-top: 62px;
  gap: 38px;
}

.sat-fo-txt1 {
  @include text($font-size: 14px, $font-weight: $fw-light);
  letter-spacing: 1px;
}

.sat-fo-txt2 {
  @include text($font-size: 18px, $font-weight: $fw-medium, $line-height: 1.61);
  max-width: 308px;
}

.sat-fo-txt3 {
  @include text($font-size: 18px, $font-weight: $fw-medium);

  span {
    @include line;
  }
}

.sat-fo-txt4 {
  @include text($font-size: 12px);

  span {
    @include line;
  }
}
